.author.moderator {
  color: var(--modGreen) !important;
}

.menuarea .togglebutton {
  display: inline !important;
  color: var(--modGreen) !important;
  text-transform: capitalize;
  text-align: right;
}
