body:not(.listing-page) .side .md > ul:first-of-type {
  display: none;
}

.listing-page .content[role='main'] {
  margin-top: 50px;
}

.listing-page .thing.stickied {
  background-color: transparent;
  border: 2px solid var(--modGreen) !important;
  border-radius: 5px;
  box-shadow: none;
}

.listing-page .thing.stickied + div + .link:not(.stickied) {
  margin-top: 20px;
}
