.sheets {
  margin-right: 0;
}

.sheets .col {
  width: 100%;
}

.sheets .col > div {
  margin: 0 5px;
}

.sheets .col textarea {
  width: 100%;
  padding-left: 15px;
}

.stylesheet-customize-container {
  padding-right: 24px !important;
}

.stylesheet-customize-container textarea {
  color: #bfbfb9;
  background-color: #272822;
  padding: 0;
  margin-right: 12px !important;
  border: none;
}

.stylesheet-customize-container textarea::selection {
  background: #a6a69e;
}

.stylesheet-customize-container h2 {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 4px;
  color: #737373;
  text-transform: uppercase;
}
