@import './variables.css';
@import './components/header.css';
@import './components/flair.css';
@import './components/thing.css';
@import './components/listing.css';
@import './components/comments.css';
@import './components/sidebar.css';
@import './components/footer.css';
@import './components/mod.css';

body {
  font-family: system-ui !important;
  background-color: #fefefe;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

a:hover {
  text-decoration: underline !important;
}

.content[role="main"] {
  margin: 22px;
  margin-left: 45px;
  margin-right: 395px;
}
